.puzzle-group {
    margin: 0px auto;
}

.answers {
    background-color: rgba(0, 255, 0, 0.1);
    border: 1px solid #f0fff0;
    width: 100%;
    height: 100px;
    display: flex;
}

.houses {
    display: flex;
    align-items: flex-start;
}

    .houses .draggable {
        display: flex;
    }

.prompts .prompt {
    line-height: 1.4em;
}

.drag-drop-puzzle {
    display: flex;
}

    .drag-drop-puzzle .word-gutter {
        flex: .2;
    }

    .drag-drop-puzzle .puzzle-source {
        flex: .8;
        position: relative;
    }
