@page "/complete"
@using Microsoft.AspNetCore.ProtectedBrowserStorage
@using site.Infrastructure

<h3>Complete</h3>


<p>Thank you @Status.Name, you finished in @Status.Completed.ToString("c")</p>

<p>Copy the code below using the button, then paste it in to your Google Classroom for your teacher.</p>
            
<br />
<input type="text" id="exitCode" @bind-value="ExitCode" readonly="readonly" />
<button class="btn btn-success" type="button" onclick="copyToClipboard('exitCode')"><span class="oi oi-clipboard"></span> Copy To Clipboard</button>
@code {
    [Inject] protected ProtectedSessionStorage ProtectedSessionStore { get; set; }
    [Inject] protected CodeGenerator Generator { get; set; }

    protected string ExitCode { get; set; }
    private GameCompleteStatus Status { get; set; } = new GameCompleteStatus();

    protected string Name { get; set; }
    protected TimeSpan Completed { get; set; }
    protected string EntryCode { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override async Task OnParametersSetAsync()
    {

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            Name = await ProtectedSessionStore.GetAsync<string>("name");

            DateTime started = await ProtectedSessionStore.GetAsync<DateTime>("start");

            Completed = DateTime.Now.Subtract(started);

            EntryCode = await ProtectedSessionStore.GetAsync<string>("entry");

            Status = new GameCompleteStatus()
            {
                Name = Name,
                Completed = Completed,
                EntryCode = EntryCode,
                IpAddress = "127.0.0.1"
            };

            ExitCode = Generator.GenerateExitCode(Status);

            await InvokeAsync(StateHasChanged);
        }
    }

}
