@page "/puzzle1"
@using site.Puzzles;

<div class="container">
    <PuzzleGroup OnPuzzlesCompleted="PuzzlesAllCompleted" />
</div>
@code {

    [Inject]
    private NavigationManager Navigation { get; set; }

    private void PuzzlesAllCompleted()
    {
        Navigation.NavigateTo("complete");
    }
}
